.basic-input * {
  transition: all 0.2s;
}

.basic-input {
  display: inline-flex;
  position: relative;
  font-size: 16px;
}

.basic-input input {
  line-height: 24px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 14px;
  font-size: 16px;
  min-width: 200px;
  width: 100%;
}

.basic-input input:hover {
  border-color: #000;
}

.basic-input input:focus {
  outline: none;
  border-color: #4ea4f6;
}

.basic-input.basic-input_error input {
  border-color: #e53935;
}

.basic-input__placeholder {
  position: absolute;
  top: 14px;
  left: 14px;
  line-height: 24px;
  color: #95a0aa;
  background: #fff;
}

.basic-input input:focus ~ .basic-input__placeholder,
.basic-input input:valid ~ .basic-input__placeholder,
.basic-input.basic-input_error input ~ .basic-input__placeholder {
  color: #4ea4f6;
  top: -5px;
  font-size: 10px;
  line-height: 10px;
  padding: 0 5px;
}

.basic-input.basic-input_error input ~ .basic-input__placeholder {
  color: #e53935;
}

.base-checkbox {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  box-shadow: none;
}

.basic-checkbox {
  cursor: pointer;
}