:root {
  --color-blue: #428edb;
  --color-blue-hover: rgba(0, 0, 0, 0.08);
  --color-grey: #f2f2f4;
  --color-greyHover: rgba(112, 117, 121, 0.08);
}
button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
button,
button:hover,
button:active,
button:focus {
  outline: none;
}
.btn {
  border-radius: 10px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn > span {
  z-index: 2;
}
.btn:hover {
  transition: box-shadow 0.2s ease;
}
.btn:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 100%;
  top: 0;
  left: 0;
  transform: scale(1.1);
  opacity: 0;
  transition: 0.5s ease transform, 1s ease opacity;
  z-index: 1;
}
.btn:active:before {
  transform: scale(0);
  opacity: 1;
  transition: 0s;
}
.btn:disabled {
  background: var(--color-grey);
}
.blue {
  background: var(--color-blue);
  color: white;
  fill: white;
  transition: box-shadow 0.2s ease;
}
.blue:hover {
  box-shadow: 0 0 0 54px var(--color-blue-hover) inset;
}
.blue:before {
  background: var(--color-blue-hover);
}
.grey {
  background: transparent;
  color: var(--color-blue);
}
.grey:hover {
  box-shadow: 0 0 0 54px var(--color-greyHover) inset;
}
.grey:before {
  background: var(--color-greyHover);
}

.with-icon {
  padding: 0;
  border-radius: 100%;
  width: 54px;
  font-size: 23px;
  line-height: 23px;
}
