:root {
  --color-msg-in-back: #ffffff;
  --color-msg-out-back: #eeffde;
  --color-chat-back: #e6ebee;
  --color-blue: #428edb;
  --color-green: #4fae4e;
  --color-grey: #b2bac1;

  --brd-radius-in: 15px;
  --brd-radius-out: 8px;
}
.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.msg.last {
  margin-bottom: 5px;
}

.message.out {
  align-self: flex-end;
}

.msg {
  background: rgb(212, 212, 212);
  display: inline-flex;
  max-width: 480px;
  padding: 10px;
  position: relative;
  flex-direction: column;
  min-height: 22px;
  justify-content: center;
  filter: drop-shadow(0px 0px 1px var(--color-grey));
}
.msg.msg-in {
  background: var(--color-msg-in-back);
  border-radius: 15px;
  border-bottom-right-radius: var(--brd-radius-in);
  border-top-right-radius: var(--brd-radius-in);
  border-top-left-radius: var(--brd-radius-out);
  border-bottom-left-radius: var(--brd-radius-out);
}

.msg.msg-out {
  background: var(--color-msg-out-back);
  border-bottom-left-radius: var(--brd-radius-in);
  border-top-left-radius: var(--brd-radius-in);
  border-top-right-radius: var(--brd-radius-out);
  border-bottom-right-radius: var(--brd-radius-out);
}

.msg-name {
  font-size: 14px;

  padding: 0 0 3px;
}
.msg-out .msg-name {
  color: var(--color-green);
}
.msg-in .msg-name {
  color: var(--color-blue);
}
.msg-avatar {
  border-radius: 50%;
  height: 44px;
  width: 44px;
  z-index: 10;
  margin-right: 5px;
  overflow: hidden;
}
.msg-avatar > img {
  width: 100%;
  height: 100%;
}
.msg-text {
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}
.msg-time {
  font-size: 12px;
  display: inline-block;
  width: 50px;
}
.msg-time > span {
  position: absolute;
  right: 1px;
  bottom: -2px;
  display: flex;
}
.msg-in .msg-time {
  color: var(--color-grey);
}
.msg-out .msg-time {
  color: var(--color-green);
}
.msg-status {
  stroke: var(--color-green);
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 15px;
  padding: 0 0 0 3px;
}
.msg-status > span {
  position: absolute;
  right: 1px;
  bottom: -2px;
}
.quote {
  background: transparent;
  padding: 0 5px;
  font-size: 14px;
  margin-bottom: 10px;
}
.quote-in {
  border-left: 2px solid var(--color-blue);
}
.quote-out {
  border-left: 2px solid var(--color-green);
}


/* Tail magic */

.msg.msg-in.first {
  border-top-left-radius: var(--brd-radius-in);
}
.msg.msg-out.first {
  border-top-right-radius: var(--brd-radius-in);
}

.msg.msg-in.last {
  border-bottom-left-radius: 0;
}
.msg.msg-out.last {
  border-bottom-right-radius: 0;
}

.msg.last:before {
  content: '';
  position: absolute;
  z-index: 0;
  height: 18px;
  width: 14px;
}

.msg.last.msg-out:before {
  right: -13px;
  bottom: 0px;
  background: var(--color-msg-out-back);
  mask-image: radial-gradient(circle 1px at 28px -3px, transparent 0, transparent 28px, black);
  -webkit-mask-image: radial-gradient(circle 1px at 28px -3px, transparent 0, transparent 28px, black);
}
.msg.last.msg-in:before {
  left: -13px;
  bottom: 0px;
  background: var(--color-msg-in-back);
  mask-image: radial-gradient(circle 1px at -14px -3px, transparent 0, transparent 28px, black);
  -webkit-mask-image: radial-gradient(circle 1px at -14px -3px, transparent 0, transparent 28px, black);
}