.country-code-container {
  position: relative;
}
.country-code-select {
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 14px;
  cursor: pointer;
  display: flex;
  line-height: 24px;
}

.country-code-select:hover {
  border-color: #000;
}
.country-code-select__open {
  border-color: #4ea4f6;
}
.country-code-select__open:hover {
  border-color: #4ea4f6;
}

.country-code-list {
  margin-top: 10px;
  background: #fff;
  position: absolute;
  width: 100%;
  z-index: 100;
  box-shadow: 0 8px 11px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: 300px;
  overflow: scroll;
  list-style: none;
  padding: 0;
}

.country-code-list__option {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: baseline;
}

.country-code-select__placeholder {
  flex: 1;
  color: #95a0aa;
}

.country-code-select__value {
  flex: 1;
  color: #000;
}

.country-code-select__icon {
  color: #95a0aa;
  transform: rotate(90deg);
  transition: all 0.5s;
}

.active > .country-code-select__icon {
  transform: rotate(-90deg);
}

.country-code-list__option.hovered,
.country-code-list__option:hover {
  background: rgb(242, 242, 243);
}

.dialling-code {
  color: rgb(101, 106, 110);
}

.country-name {
  flex: 1;
}

.code-search {
  border: 0;
  color: #fff;
  outline: none;
}

.hide {
  display: none;
}
.chevron-down {
  width: 24px;
  height: 24px;
}
.chevron-down > svg {
  width: 24px;
  height: 24px;
  fill: #4ea4f6;
}

.arrow {
  width: 13px;
  height: 13px;
  position: relative;
  bottom: -7px;
  left: -10px;
  transition: 0.4s ease;
  margin-top: 2px;
  text-align: left;
  transform: rotate(45deg);
  float: right;
}

.arrow:before,
.arrow:after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 12px;
  height: 3px;
  background-color: #000;
  transition: 0.5s ease;
}
.arrow:after {
  position: absolute;
  transform: rotate(90deg);
  top: -5px;
  left: 5px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  left: 3px;
  bottom: 0;
}
