.country-code-select {
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 14px;
  cursor: pointer;
  display: flex;
}

.country-code-select:hover {
  border-color: #000;
}

.country-code-select.active {
  border: 1px solid #4ea4f6;
  border-radius: 10px;
  padding: 14px;
  cursor: pointer;
}

.country-code-view {
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height: 300px;
  overflow: scroll;
  list-style: none;
  padding: 0;
}

.country-code-view__option {
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: baseline;
}

.country-code-select__placeholder {
  flex: 1;
  color: #95a0aa;
}

.country-code-select__value {
  flex: 1;
  color: #000;
}

.country-code-select__icon {
  color: #95a0aa;
  transform: rotate(90deg);
  transition: all 0.5s;
}

.active > .country-code-select__icon {
  transform: rotate(-90deg);
}

.country-code-view__option:hover {
  background: #dddddd;
}

.dialling-code {
  color: #95a0aa;
}

.country-name {
  flex: 1;
}

.hide {
  display: none;
}
